.bounding-box {
  box-shadow: inset 0 0 0 3px #149df2;
  transition: all .1s ease-in;
}

.container {
  pointer-events: none;
}

.container > .bounding-box {
  pointer-events: auto;
}

.container:hover > .bounding-box:not(:hover) {
  opacity: .3;
}